// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// dark-green for the text <p>
$dark-green: #043E3A;

// titles-green for the titles
$titles-green: #009289;

// light-green for some background-color cards (sign up form for example)
$light-green: #39D0C6;

// button-gradient for all buttons and banner on the home page
$button-gradient: linear-gradient(85deg, rgb(0, 146, 137) 0%, rgb(4, 153, 141) 6.25%, rgb(8, 160, 145) 12.5%, rgb(12, 166, 150) 18.75%, rgb(16, 173, 154) 25%, rgb(20, 180, 158) 31.25%, rgb(24, 187, 162) 37.5%, rgb(28, 194, 166) 43.75%, rgb(32, 200, 171) 50%, rgb(36, 207, 175) 56.25%, rgb(40, 214, 179) 62.5%, rgb(44, 221, 183) 68.75%, rgb(48, 228, 187) 75%, rgb(52, 235, 191) 81.25%, rgb(56, 241, 196) 87.5%, rgb(60, 248, 200) 93.75%, rgb(64, 255, 204) 100%);

// background color for all pages
$body-background: rgb(255, 254, 247);
