// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
// dark-green for the text <p>
$dark-green: #043E3A;
// titles-green for the titles
$titles-green: #009289;
// light-green for some background-color cards (sign up form for example)
$light-green: #39D0C6;
// $button-gradient:
