.cart-container {
  width: 70%;
  height: 85%;
  background-color: #ffffff;
  border-radius: 20px;
}

.Header{
  margin: auto;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .card-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

.card-items-left {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.card-item-actions {
  padding-right: 20px;
}
