.cart-container {
  width: 70%;
  height: 85%;
  background-color: #ffffff;
  border-radius: 20px;
  margin: auto;
}

.Header{
  margin-top: -50px;
  margin-bottom: 15px;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .card-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

.card-items-left {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.card-item-actions {
  padding-right: 20px;
}

.link {
  font-size: 14px;
  font-family: $body-font;
  font-weight: 600;
  color: rgb(24, 109, 131);
  cursor: pointer;
  border-bottom: 1px solid rgb(24, 109, 131);
}
