
.back-image {
  background-image: asset_url("shopping-cart.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

// first container
.shopping-grid {
  display: flex;
  align-items: flex-start;
  width: 70%;
  justify-content: center;
}

.col-lg-6, .col-lg-4 {
  background-color: rgba(250, 235, 215, 0.8);
  margin-top: 32px;
  display: flex;
}

.col-lg-4 {
  border-left: solid 1px grey;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.col-lg-6 {
  justify-content: center;
}

// container left

.cart-container {
  width: 100%;
  background-color: none;
  display: flex-grow;
  // flex-direction: column;
  // justify-content: center;
}

.Header{
  width: 90%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
 }

 .card-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 254, 247, 0);
  margin-left: 15px;
 }

.card-items-left {
  display: flex;
  align-items: center;
}

.card-item-actions {
  padding-right: 20px;
}

.card-product img {
  height: 70px;
  width: 80px;
  margin-right: 15px;
  display: flex;
  border-radius: 5px;
}

.link {
  font-size: 16px;
  font-family: $body-font;
  font-weight: 700;
  color: rgb(24, 109, 131);
  cursor: pointer;
  border-bottom: 1px solid rgb(24, 109, 131);
}

.cart-quantity {
  text-align: left;
}

.card-item-actions {
  text-align: center;
}

.card-product-infos {
  display: block;
  text-align: right;
}

.product-title {
  color: rgb(23, 150, 129);
  font-size: 16px;
  font-weight: bold;
}

.fa-eye {
  color: rgb(23, 150, 129);
  align-items: right;
}

// container right

.order-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  background-color: none;
  border-radius: 20px;
  padding-top: 100px;
}

.Header2{
  margin-top: 50px;
  margin-bottom: 15px;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .cart-amount {
  display: block;
  text-align: left;
  font-family: $body-font;
  color: rgb(23, 150, 129);
  margin-top: 50px;
}

.fa-solid {
  color: $dark-green;
}
