// Specific CSS for your home-page
.banner {
  background: $button-gradient;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 60px;
}

.searchbar-home {
  width: 33%;
  background-color: white;
  border-radius: 6px;
}
