// Import page-specific CSS files here.
@import "home";
@import "show";
@import "config/fonts";
@import "config/colors";
@import "basket";
@import "./orders/show";
@import "./orders/index";

.searchbar-container {
  margin: 0 auto;
  margin-top: 60px;
  width: 33%;
}

.btn-green {
  background-color: $dark-green;
  color: white;
  border: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.form-control {
  background-color: white;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.product-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 240px;
  a {
    text-decoration: none;
    color: black;
    padding: 0;
    // display: none;
  }
}

.product-card {
  background-color: white;
  height: 360px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
  box-shadow: 0px 0px 3px 0px $dark-green;
  display: none;
}

.product-card:hover {
  box-shadow: 0px 0px 6px 0px $dark-green;
  transition: 0.2s;
}

.card-top {
  height: 300px;
}

.card-bottom {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  padding-left: 14px;
  padding-right: 10px;
  h5 {
    margin: 0;
    color: $titles-green;
  }
}

#buy-button {
  background-color: white;
  border: 0;
  padding: 12px;
  line-height: 0;
  border-radius: 50%;
  color: $titles-green;
  // box-shadow: 0px 0px 3px 0px $dark-green;
  border: 1px dotted $titles-green;
  .fa-solid {
    color: $titles-green;
  }
}

#buy-button:hover {
  background-color: $titles-green;
  transition: 0.2s;
  i {
    color: $body-background;
    transition: 0.2s;
  }
}

.card-image-wrapper {
  min-height: 144px;
  max-height: 144px;
}

.card-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  height: 150px;
  p {
    font-size: 12px;
    color: gray;
    margin: 0;
  }
  p.bold {
    color: $titles-green;
    font-weight: bold;
    font-size: 16px;
  }
}

.card-image {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

// .bold {
//   font-size: 18px;
//   color: $titles-green;
// }

// .product-card {
//   background-color: white;
//   height: 360px;
//   width: 200px;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   border-radius: 6px;
//   // border: 1px solid $titles-green;
//   box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
// }

.displayed {
  display: flex !important;
}

.active-filter {
  background-color: $dark-green;
  border-radius: 50%;
  box-shadow: 0px 0px 6px 0px $dark-green;
}

// .product-card:hover {
//   box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
// }

// .card-infos {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   padding: 12px;
//   height: 100%;
//   p {
//     color: gray;
//     margin: 0;
//   }
// }

// .card-bottom {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }

.type-icons {
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
  margin: 120px;
  margin-top: 60px;
  margin-bottom: 0;
  p {
    text-align: center;
  }
  a {
    text-decoration: none;
    color: gray;
  }
}

.type-icon {
  padding: 18px;
  width: 100%;
  // border-radius: 50%;
}

.iconborder {
  // padding: 24px;
  border-radius: 50%;
  // box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
  max-width: 96px;
}

.iconborder:hover {
  // box-shadow: 0px 0px 6px 0px $dark-green;
  background-color: $dark-green;
  transition: 0.3s;
}

#all-icon {
  padding: 0;
}
