// Import page-specific CSS files here.
@import "home";
@import "show";
@import "config/fonts";
@import "config/colors";

.searchbar-container {
  margin: 60px 0;
}

.btn-green {
  background-color: $dark-green;
  color: white;
  border: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.form-control {
  background-color: white;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.product-list {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 240px;
  a {
    text-decoration: none;
    color: black;
    display: none;
  }
}

.card-image-wrapper {
  min-height: 144px;
  max-height: 144px;
}

.card-image {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.bold {
  font-weight: bold;
  color: $dark-green;
}

.product-card {
  background-color: white;
  height: 360px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
  // border: 1px solid $titles-green;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
}

.displayed {
  display: flex !important;
}

.active-filter {
  background-color: $dark-green;
  border-radius: 50%;
}

.product-card:hover {
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
}

.card-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  height: 100%;
  p {
    color: gray;
    margin: 0;
  }
}

.card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.type-icons {
  display: flex;
  gap: 24px;
  margin: 120px;
  margin-bottom: 0;
  p {
    text-align: center;
  }
  a {
    text-decoration: none;
    color: gray;
  }
}

.type-icon {
  padding: 18px;
  width: 100%;
  // border-radius: 50%;
}

.iconborder {
  // padding: 24px;
  border-radius: 50%;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
}

.iconborder:hover {
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
}
