.main-container {
  margin: 40px 5%;
  display: flex;
  gap: 20px;
}

.main-container h2 {
  color: #39D0C6;
}

.previous {
  background-color: #39D0C6;
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 10px;
}

.left-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.location {
  background-color: #39D0C6;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
}

.address {
  padding: 20px;
}

.image-product img {
  height: 400px;
}
.image-map {
  width: 100%;
  //height: 20px;
}

.product {
  display: flex;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 400px;
  align-items: left;
  gap: 20px;
  padding: 20px;;
}

.product-description {
  background-color: white;
  width: 57%;
  color: black;
  font-size: 20px
}

.price {
  font-size: 30px;
  flex-grow: 1;
  color: #39D0C6;
}

.product-image {
  border-radius: 10px;
}

.right-container-basket {
  width: 30vw;
  min-height: 30vh;
  position: sticky;
  top: 13vh;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px lightgray;
  border-radius: 10px;
  padding: 30px;


}

.card-buttons {
  display: flex;
  justify-content: space-between;
}

.selected-image {
  height: 400px;
  width: 500px;
}

.advert-stats {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.stat {
  width: 250px;
  height: 75px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
  }
}

.user-avatar {
  // background-color: rgb(51, 51, 51);
  height: 90px;
  width: 90px;
  min-width: 90px;
  border-radius: 50%;
  margin-right: 10px;
}

.btn-gradient {
  color: white;
  padding: 8px 8px;
  border-radius: 4px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.button {
  color: white;
  padding: 8px 8px;
  border-radius: 4px;
  font-weight: bold;
  transition: background 0.3s ease;
  // border: 1px solid #0F60C4;
  margin-bottom: 10px;
  text-align: center;
  p {
    margin: 0;
  }
}


#buy-button:hover {
  background-color: #39D0C6;
  color: white;
  transition: 0.2s;
}

.show-button {
  width: 100%;
  margin-bottom: 10px;
  background-color: #39D0C6;
}

.show-button-half {
  margin-bottom: 10px;
}

.buttons-container {
  padding-top: 10px;
  width: 90%;
  margin: 0 auto;
}


.card-product {
  width: 100%;
  overflow: hidden;
  height: 120px;
  background: white;
  border-bottom: 2px solid grey;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.items {
  background-color: #39D0C6;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
}




//////////// This is for the orders/show ///////////////

.order-infos {
  display: flex;
  flex-direction: column;
}

.purchase {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px rgb(230, 229, 215);
  padding-bottom: 48px;
  padding-top: 24px;
}

.purchase-summary {
  display: flex;
  align-items: center;
  p {
    margin: 0;
  }
}

.purchase-location-text {
  display: flex;
  flex-direction: column;
}

.purchase-img-container {
  width: 100px;
  margin-right: 12px;
}

.purchase-img {
  width: 100%;
}

.confirmation-img-container {
  width: 100px;
  text-align: center;
  margin-right: 12px;
}

.confirmation-img {
  width: 76px;
}
