.orders-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.order-card {
  display: flex;
  background-color: $body-background;
  height: 84px;
  width: 100%;
  align-items: center;
  border-radius: 6px;
  // box-shadow: 0px 0px 3px 0px $dark-green;
  border-bottom: 1px dotted $dark-green;
  p {
    margin: 0;
    width: 23%;
    text-align: center;
    color: $dark-green;
    padding-top: 12px;
    padding-bottom: 12px;
    border-left: 1px dotted $dark-green;
  }
  h6 {
    margin: 0;
    text-align: center;
  }
  .view-details {
    width: 8%;
  }
}

.view-details {
  a {
    color: $titles-green;
    font-weight: bold;
  }
}


#orders-header {
  position: sticky;
  top: 9vh;
  border-radius: 0;
  font-weight: bold;
  background-color: $body-background;
  p {
    color: $dark-green;
    border-left: 1px dotted $dark-green;
  }
}

.titles-green {
  color: $titles-green;
  margin-bottom: 60px;
}
