<div class="footer">
  <h2>Zero.Hunger</h2>
  <p>We are building a better world by fighting food waste</p>
  <div class="social-icons">
    <a href="#">
      <i class="fa-brands fa-facebook"></i>
    </a>
    <a href="#">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="#">
      <i class="fa-brands fa-twitter"></i>
    </a>
    <a href="#">
      <i class="fa-brands fa-whatsapp"></i>
    </a>
  </div>
  <div class="copyright">
    <p>Copyright © Zero.Hunger International.</p>
    <p>All Rights Reserved.</p>
  </div>
</div>
