<div class="footer">
  <p>Contact details and copyright</p>
  <div class="social-icons">
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-whatsapp"></i>
  </div>
</div>
