<div class="banner">
  <h1>Zero.Hunger</h1>
  <h2>We are building a better world by fighting food waste</h2>

  <div class="searchbar-home">
    <%= form_with url: products_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Where are you ?"
      %>
      <%= image_submit_tag("icons8-search-25.png", class: "btn")  %>
    <% end %>
  </div>

</div>
<div class="container">
  <div class="about-section">
    <h2>Why we are here</h2>
    <p>Our mission? To make sure good food gets eaten, not wasted. Every day, delicious, fresh food goes to waste at cafés, restaurants, hotels, shops and manufacturers - just because it hasn’t sold in time. The Zero.Hunger app lets customers buy and collect Surprise Bags of food - at a great price - directly from businesses.</p>
    <br>
    <h2>Does your Business want to join the movement ?</h2>
    <p>Zero.Hunger can help you cut food waste, find new customers and win back sunk costs. <strong>Be part of the solution</strong>!</p>
    <a href="#">Sign up your business</a>
  </div>
</div>
