.form-inputs {
  //& > div {
  //  & > ::placeholder {
      //color: white;
  //  }
    & > input {
      border-radius: 10px;
      //background-color: $light-green;
      padding: 10px;
    }
  }

.header-signup {
  color: $titles-green;
  padding: 10px;
  margin-bottom: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-body {
  //background: #FFFFFF;
  //box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  //opacity: 0;
  //visibility: hidden;
}

input.btn {
  //color: white;
  margin-bottom: 10px;
  background-color: $button-gradient;
}

.div-login {
  display: flex;
}

.full-screen {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .form-screen {
    max-width: 840px !important;
    padding-bottom: 60px;
  }
}
