.home_video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: -2;
 }

 .home-video-wrapper {
 height: 65vh;
 display: flex;
 }

.home-banner {
  background-size: cover;
  background-position: center center;
  padding: 200px 0;
}

.home-banner-container {
  width: 1100px;
  margin: auto;
}

.home-banner-container h1 {
  color: white;
  font-size: 70px;
}

.home-banner-container h5 {
  color: white;
  font-size: 30px;
}

.home-banner-container p {
  color: white;
  opacity: .7;
  font-size: 20px;
}

.home-text{
  margin: 25px;
}
