.navbar-lewagon {
  justify-content: space-between;
  background: $body-background;
  align-items: center;
  // border-bottom: rgb(229, 241, 234) 1px solid;
  position: sticky;
  top: 0;
  // box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
}

.navbar-lewagon-home {
  justify-content: space-between;
  //background: $body-background;
  align-items: center;
  // border-bottom: rgb(229, 241, 234) 1px solid;
  position: sticky;
  top: 0;
  // box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
}

.navbar-collapse {
  flex-grow: 0;
}

.nav-item {
  display: flex;
  align-items: center;
}

.navbar-nav {
  align-items: center;
}

.nav-link {
  width: 100%;
  display: flex;
  align-items: right;
}

li {
  width: 60px;
  height: 30px;
  margin-left: 24px;
}

#input-searchbar {
  margin-bottom: 0;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  border-radius: 50%;
}

.navbar-brand {
  padding: 15px;
  width: 60px;
  height: 60px;
}

.avatar {
  width: 48px;
  height: 48px;
  margin: 6px;
}
